.contact_minden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: xx-large;
}

mat-card {
    align-self: center;
    /*align-content: center;*/
    width: 60%;
}