<span *ngIf="loading">
    <div class="overlay"></div>
    <span class="spinner">
        <mat-spinner></mat-spinner>
    </span>
</span>

<div class="myContracts_minden">
    <mat-card>
        <h1>Biztosításaim</h1>

        <mat-table [dataSource]="myContracts" multiTemplateDataRows>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Szerződés azonosítója </mat-header-cell>
                <mat-cell *matCellDef="let contract"> {{contract.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Szerződéskötés dátuma </mat-header-cell>
                <mat-cell *matCellDef="let contract"> {{contract.date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="yearly">
                <mat-header-cell *matHeaderCellDef> Éves díj </mat-header-cell>
                <mat-cell *matCellDef="let contract"> {{contract.offer.yearly | currency:'Ft': 'symbol': '0.0': 'fr'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="logoOfCompany">
                <mat-header-cell *matHeaderCellDef> Biztosító cég </mat-header-cell>
                <mat-cell *matCellDef="let contract">
                    <img class="logo" src="{{contract.offer.logoOfCompany}}" alt="ez lenni logo of insurance company">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="other">
                <mat-header-cell *matHeaderCellDef> Other </mat-header-cell>
                <mat-cell *matCellDef="let contract">
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lebontás
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <p *ngFor="let fee of contract.offer.fees | keyvalue">
                            {{fee.key | offerCard}}:
                            <br>
                            {{$any(fee.value) | currency:'Ft': 'symbol': '0.0': 'fr'}}
                        </p>

                    </mat-expansion-panel>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Lehetőségek </mat-header-cell>
                <mat-cell class="he" *matCellDef="let contract">
                    <button mat-raised-button color="warn" (click)="cancel(contract)">Lemondás</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>

