<!--<p>login works!</p>-->

<span *ngIf="loading">
    <div class="overlay"></div>
    <span class="spinner">
        <mat-spinner></mat-spinner>
    </span>
</span>

<div class="login_component">
    <mat-card>
        <h1>Bejelentkezés</h1>
        <mat-form-field>
            <mat-label>Email: </mat-label>
            <input matInput type="text" [formControl]="email" (keyup)="entered($event)">
        </mat-form-field>
        <br>
        <!--    <span>-->
        <!--        <label>Email: </label>-->
        <!--        <input type="text" [formControl]="email" />-->
        <!--    </span>-->
        <!--    <span>-->
        <!--        <label>Password: </label>-->
        <!--        <input type="password" [formControl]="passwd" />-->
        <!--    </span>-->
        <mat-form-field>
            <mat-label>Password: </mat-label>
            <input matInput type="password" [formControl]="passwd" (keyup)="entered($event)">
        </mat-form-field>
        <br>
        <span>
        <button mat-raised-button (click)="login()">Login</button>
        <button mat-raised-button [routerLink]="'/register'">Sign Up</button>
    </span>
    </mat-card>

</div>
