div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: xx-large;
}

.login_component {
    height: 100vh;
    align-items: center;
}

mat-form-field {
    /*padding: 5px 5px 5px 5px;*/
    width: 50%;
}
span button {
    margin: 5px;
}

mat-card {
    width: 50%;
}