<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu
                (selectedPage)="changingPage($event)"
                (onCloseSidenav)="onCloseSidenav($event, sidenav)"
                [currentPage]="openedPage"
                [isLoggedIn]="loggedInUser"
        ></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="he">
        <mat-toolbar color="primary">
            <button
                    mat-icon-button
                    (click)="toggleSidenav(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
