/*.register_component {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    height: 100vh;*/
/*    align-items: center;*/
/*}*/

/*mat-form-field {*/
/*    padding: 5px 5px 5px 5px;*/
/*    width: 100%;*/
/*}*/

/*span button {*/
/*    margin: 5px;*/
/*}*/

/*.name_field {*/
/*    column-count: 2;*/
/*    !*column-rule: 1px solid rgb(75, 70, 74);*!*/
/*    column-gap: 10px;*/
/*    width: 70%;*/
/*    background-color: aqua;*/
/*}*/

/*.name_field div {*/
/*}*/


/*.other_fields {*/
/*    width: 70%;*/
/*}*/


.div_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

div {
    align-items: center;
}

.register_component {
    height: 100vh;
    /*align-items: center;*/
}

form div {
    padding: 5px 5px 5px 5px;
    /*width: 30%;*/
    /*align-items: center !important;;*/
}

.name_field {
    column-count: 2;
    /*width: 30%;*/
    /*display: inline-table !important;*/
    align-items: center;
}

mat-form-field {
    padding: 5px 5px 5px 5px;
    display: block;
    /*width: 30%;*/
    align-self: center;
}
div button {
    margin: 5px;
    /*align-self: center;*/
}