<span *ngIf="loading">
    <div class="overlay"></div>
    <span class="spinner">
        <mat-spinner></mat-spinner>
    </span>
</span>

<div class="register_component">


        <div class="div_flex">
            <mat-card>
            <h1>Regisztráció</h1>
            <form [formGroup]="registerForm">
                <div class="name_field">
                    <mat-form-field>
                        <mat-label>Keresztnév: </mat-label>
                        <input matInput type="text" formControlName="fn" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Vezetéknév: </mat-label>
                        <input matInput type="text" formControlName="ln" />
                    </mat-form-field>
                </div>
                <div class="other_field">
                    <mat-form-field>
                        <mat-label>Email cím: </mat-label>
                        <input matInput type="text" formControlName="email" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Jelszó: </mat-label>
                        <input matInput type="password" formControlName="passwd" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Jelszó újra: </mat-label>
                        <input matInput type="password" formControlName="passwd_conf" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Születési dátum: </mat-label>
                        <input matInput type="date" formControlName="birthday" />
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="register()">Regisztrálás</button>
                </div>
            </form>
                <p class="reg_feltet"><strong>Regisztrálási feltételek</strong></p>
                <mat-list>
                    <mat-list-item>- 18 éven felülieknek engedélyezett hatósági szabályok okán</mat-list-item>
                    <mat-list-item>- Fiók létrehozásával elfogadja adatainak marketing célú felhasználását</mat-list-item>
                </mat-list>

<!--                <ul class="feltetelek">-->
<!--                    <li>18 éven felülieknek engedélyezett hatósági szabályok okán</li>-->
<!--                    <li>Fiók létrehozásával elfogadja adatainak marketing célú felhasználását</li>-->
<!--                </ul>-->
            </mat-card>

        </div>


</div>