.div_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

div {
    align-items: center;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: xx-large;
}

.register_component {
    height: 100vh;
}

form div {
    padding: 5px 5px 5px 5px;
}

.name_field {
    column-count: 2;
    margin-left: 13%;
    margin-right: 13%;
    align-items: center;
}

mat-form-field {
    padding: 5px 5px 5px 5px;
    width: 60%;
    align-self: center;
}
div button {
    margin: 5px;
}

mat-card {
    margin: 50px 50px 50px 50px;
    align-self: center;
    width: 50%;
}

.reg_feltet {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    padding-top: 30px;
}

mat-list {
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
}