.main_minden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

span {
    font-size: medium;
}

mat-card {
    width: 60%;
    align-self: center;
}

img {
    width: 10%;
    padding-bottom: 30px;
}