<!--<p>main works!</p>-->
<div class="main_minden">
    <mat-card>
        <img src="../../../assets/pepe.png">
        <h1>
            <b>Üdvözöllek a Mágikus Autóhálózat Biztosítási oldalán!</b>
        </h1>
        <span>
        Ha egyszerűen, kényelmesen és problémamentesen szeretnéd megkeresni a Neked megfelelő biztosítási konstrukciót akár újonnan, akár használtan várásolt gépjárműdhöz, jó helyen jársz!
        </span>
        <br>
        <br>
        <span>
            Cégünk hosszú évek óta megbízhatóan szolgálja ki ügyfeleit nem csak biztosítás terén, hanem <a href="https://sc4n1a.hu/php/">gépjármű kölcsönzést</a> is kínál.
        </span>
    </mat-card>
</div>
