/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
    position: absolute;
    z-index: 999;
    /*height: 1em;*/
    /*width: 1em;*/
    /*margin: auto;*/
    top: 50%;
    /*bottom: 0;*/
    left: 50%;
    /*right: 0;*/
    transform: translate(-50%, -50%);
}

/*.spinner::before {*/
/*    content: '';*/
/*    display: block;*/
/*    position: fixed;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    !*background-color: rgba(0, 0, 0, 0.3);*!*/
/*    !*filter: blur(20px);*!*/
/*    !*-webkit-filter: blur(8px);*!*/
/*}*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
    backdrop-filter: blur(2px);
}