<!--<p>register works!</p>-->

<div class="register_component">
    <form [formGroup]="registerForm">
        <div>
            <label>Firstname: </label>
            <input type="text" formControlName="fn" />
        </div>
        <div>
            <label>Lastname: </label>
            <input type="text" formControlName="ln" />
        </div>
        <div>
            <label>Email: </label>
            <input type="text" formControlName="email" />
        </div>
        <div>
            <label>Password: </label>
            <input type="password" formControlName="passwd" />
        </div>
        <div>
            <label>Confirm password: </label>
            <input type="password" formControlName="passwd_conf" />
        </div>
        <div>
            <label>Date of birth: </label>
            <input type="date" formControlName="birthday" />
        </div>
        <div>
            <button (click)="register()">Register</button>
        </div>
    </form>
</div>