<span *ngIf="loading">
    <div class="overlay"></div>
    <span class="spinner">
        <mat-spinner></mat-spinner>
    </span>
</span>

<div class="myProfile_minden">
<!--    <p>my-profile works!</p>-->
    <mat-card>
        <h1>Profilom</h1>
        <div class="info" *ngFor="let info of userInfo | keyvalue;">
            {{info.key | myProfile}}:
            {{info.value}}
            <mat-divider></mat-divider>
        </div>

        <div class="changeEmail">
            <mat-form-field appearance="fill">
                <mat-label>Felhasználónév módosítása: </mat-label>
                <input matInput type="text" [formControl]="newUsername" required (keyup)="entered($event)"/>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="updateUsername()">Módosítás</button>
        </div>
    </mat-card>

</div>