<div class="offers_minden">
<!--    <p>offers works!</p>-->
<!--    <mat-card class="outside">-->
        <h1>Ajánlatkérési formok</h1>
        <mat-divider></mat-divider>


        <h2>Alany információi:</h2>

        <form [formGroup]="form_personal">
            <mat-form-field appearance="fill">
                <mat-label>Hány teljes éve van jogosítványa?: </mat-label>
                <input matInput type="number" formControlName="jogsi_meglet" required/>
                <!--            <mat-error *ngIf="form_personal.get('jogsi_meglet').invalid">{{problem()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hányszor vették el ez idő alatt a jogosítványt?: </mat-label>
                <input matInput type="number" formControlName="jogsi_elvetelek" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hány balesetben vett részt?: </mat-label>
                <input matInput type="number" formControlName="balesetek_szama" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Lakhely városa:</mat-label>
                <input matInput type="string" formControlName="varos" required/>
            </mat-form-field>
        </form>

        <h2>Autó információi:</h2>

        <form [formGroup]="form_car">
            <mat-form-field appearance="fill">
                <mat-label>Jármű típusa:</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="car">🚗 Személygépjármű 🚗</mat-option>
                    <mat-option value="truck">🚛 Teherautó 🚛</mat-option>
                    <mat-option value="bike">🏍 Motorkerékpár 🏍</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Évjárat:</mat-label>
                <input matInput type="date" formControlName="year" required/>
            </mat-form-field>

            <!--        <mat-form-field>-->
            <!--            <mat-label>Új / használt?:</mat-label>-->
            <!--            <input matInput type="string" formControlName="condition" />-->
            <!--        </mat-form-field>-->

            <mat-form-field appearance="fill">
                <mat-label>Érték:</mat-label>
                <input matInput type="number" formControlName="value" required/>
                <span matSuffix>Ft</span>
            </mat-form-field>

            <!--        [(ngModel)]="newOrUsed"-->
            <mat-radio-group aria-label="Új / használt?" formControlName="condition" required>
                <mat-radio-button value="new">Új</mat-radio-button>
                <mat-radio-button value="used">Használt</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="fill">
                <mat-label>Tömeg:</mat-label>
                <input matInput type="number" formControlName="weight" required/>
                <span matSuffix>kg</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Márka:</mat-label>
                <input matInput type="string" formControlName="brand" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Modell:</mat-label>
                <input matInput type="string" formControlName="model" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Teljesítmény:</mat-label>
                <input matInput type="string" formControlName="performance" required/>
                <span matSuffix>kW</span>
            </mat-form-field>
        </form>

        <!--    <mat-progress-bar mode="determinate" value="{{progressBarValue}}"></mat-progress-bar>-->
        <div class="buttons">
            <button mat-raised-button *ngIf="!errorInForm" (click)="request_offers()">Ajánlatkérés beküldése</button>
            <button mat-raised-button disabled *ngIf="errorInForm" (click)="request_offers()">Ajánlatkérés beküldése</button>
            <button mat-raised-button (click)="testRequest()">Test Kiválaszt</button>

        </div>
    <mat-divider></mat-divider>

        <div class="cards" *ngIf="offers_ready">

            <div  *ngFor="let offer of offers;">

                <!--        hogy miért kell ez a h1, azt nem tudom, de így működik 👍 -->
                <h1></h1>
                <mat-card>

                    <mat-card-header>
                        <mat-card-title>{{offer.nameOfCompany || undefined}}</mat-card-title>
                        <!--                    <mat-card-subtitle>alcím?</mat-card-subtitle>-->
                    </mat-card-header>

                    <img class="logo" mat-card-md-image src="{{offer.logoOfCompany}}" alt="ez lenni logo of insurance company">

                    <mat-card-content>
                        <h1 class="yearly">
                            Éves díj:
                            <br>
                            {{offer.yearly | currency:'Ft': 'symbol': '0.0': 'fr'}}
                        </h1>
                        <h2 class="details">Lebontás</h2>
                        <!--                    <h2>{{offer.fees}}</h2>-->
                        <p *ngFor="let fee of offer.fees | keyvalue">
                            {{fee.key | offerCard}}:
                            <br>
                            {{fee.value | currency:'Ft': 'symbol': '0.0': 'fr'}}
                        </p>
                        <!--                    <span *ngFor="let fee of offer.fees">-->
                        <!--                        Díj: {{fee.teljesitmenyDij}}-->
                        <!--                    </span>-->
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="choose(offer)">Kiválaszt</button>
                    </mat-card-actions>

                </mat-card>
            </div>
        </div>
<!--    </mat-card>-->



</div>

